

{% extends 'base.html' %}

{% block body %} 
 
    <h2> Welcome! </h2>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non vehicula velit, vel pretium urna. 
        Donec bibendum sed mi eget volutpat. Ut vitae elementum libero, vel volutpat lectus. Fusce elementum, 
        elit id porta vehicula, mi lorem pulvinar velit, eget egestas ante elit non sapien. Cras ut quam feugiat, 
        faucibus sapien id, commodo massa. Integer nec magna quis nulla laoreet venenatis. Aenean suscipit rhoncus 
        augue, sed interdum neque ornare non. Suspendisse rutrum tempus molestie. Donec efficitur leo nisl, id gravida 
        massa commodo at. Fusce mattis aliquet erat, et volutpat magna tristique quis. Suspendisse rhoncus tincidunt 
        quam, ut condimentum diam fermentum a.
    <img src="{{ url_for('static',filename='Images/above_ground_vertical_tanks.jpg')}}"/>
    <img style="float: right; padding: 10px 10px 10px 10px;"/>
    </div>
    <div>
    <br />
        Sed interdum molestie risus at mattis. Duis ac pretium elit. Maecenas tincidunt orci at mauris porta, sit 
        amet vestibulum tellus pretium. Donec auctor porta dolor, vel viverra libero commodo id. Vestibulum lacinia 
        mauris non felis sagittis iaculis. Nullam efficitur, tellus sit amet ornare sollicitudin, odio quam scelerisque 
        nulla, non blandit eros turpis non erat. Quisque justo velit, convallis ut euismod sed, feugiat et metus. Quisque 
        porttitor arcu vel lectus ornare, quis fringilla neque lobortis. Suspendisse id dolor fermentum, maximus dolor nec, 
        lacinia leo. Sed suscipit leo eu nibh porttitor, eget tincidunt arcu varius. Nam sit amet ornare augue, ac sagittis ligula. 
        Nulla facilisi. Maecenas blandit nisl vel vulputate ultrices. Fusce finibus ut mi scelerisque euismod. Lorem ipsum dolor sit 
        amet, consectetur adipiscing elit.
    </div>


{% endblock %}